body {
    background-color: #191919;
    font-family: sans-serif;
    color: #d4d4d4;
}

.wrap {
    font-size: large;
    width: 650px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #9c9c9c;
}